
h2{ 
    padding-left: 40%;
    color: #fff;
    font-size: 1.5em;
    margin-top: 4%;   
}
.register{
    display: flex;
    justify-content: center;
}
.register_style{
    margin-top:2%;
    color: #fff;
}
.register_style label{
    color: #fff;
}
.register_style input{
padding:7px;
width:250px;
}
.register_style a{
    color: rgb(2, 37, 52);
}
.register_style button{
    margin-top: 4%;
    width:250px;
    padding: 7px;
    background: linear-gradient(to right , rgb(242, 240, 244), rgb(1, 84, 120)) ;
    color: #fff;
    border-radius: 3px;
    font-size: medium;
    border-style: none;
}
.register_style  a:hover{
    color:rgb(181, 225, 240) ;
}
.register_style input:focus
{
    border: none ;
    background-color: rgb(181, 225, 240);
}
.flash{
    text-align: center;
    color: rgb(2, 57, 85);
    font-size: larger;
    background-color: #fff;
    margin: 5px auto;
    max-width: 30%;
    border-radius: 6px;
    padding: 8px;
    font-weight: 600;
 
 }
.resend_code{
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
    gap: 8px;
}
.resend_code button{
    padding: 7px;
    background: linear-gradient(to right , rgb(242, 240, 244), rgb(1, 84, 120)) ;
    color: #fff;
    border-radius: 3px;
    font-size: medium;
    border: none;
    cursor: pointer;
}
.resend-container {
    display: flex;
    align-items: center;
    gap: 4px; /* Adds a 4px gap between the button and timer */
}