.item-center {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-bottom: 200px;
 
}
.flash{
  text-align: center;
  color: rgb(2, 57, 85);
  font-size: larger;
  background-color: #fff;
  margin: 5px auto;
  max-width: 30%;
  border-radius: 6px;
  padding: 8px;
  font-weight: 600;

}

video {
width: 370px;
margin-top: 20px;
}